{% extends "core.html" %}

{% block content %}


<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="text-center">
            <a href="{{ url_for('main.index', subdomain=subdomain) }}">
                <img
                class="mb-4"
                src="{{ url_for('main.static_file', subdomain=subdomain, filename='pulsarnews.png')}}"
                style="width: 250px;"
                />
            </a>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password(class="form-control form-control-lg", size=32, placeholder="Password") }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>
            <div class="text-center">
                <p><a href="{{ url_for('auth.reset_password_request', subdomain=subdomain)}}">Forgot your password?</a></p>
                
            </div>
        </div>
    </div>
</div>
    {% endblock %}