{% extends "core.html" %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://statics.teams.microsoft.com/sdk/v1.7.0/js/MicrosoftTeams.js"></script>


<script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.15/js/adal.min.js" integrity="sha384-lIk8T3uMxKqXQVVfFbiw0K/Nq+kt1P3NtGt/pNexiDby2rKU6xnDY8p16gIwKqgI" crossorigin="anonymous"></script>
<script type="text/javascript">
    function openWindow() {
        let url = window.location.origin + "/auth/login_azure_desktop"
        if (inIframe()) {
            microsoftTeams.initialize();
            microsoftTeams.authentication.authenticate({
                url: url,
                width: 600,
                height: 535,
                successCallback: function (result) {
                    getUserProfile(result.accessToken);
                },
                failureCallback: function (reason) {
                    handleAuthError(reason);
                }
            });
        }
        else {
            window.location.replace("{{ url_for('auth.login_azure_desktop', subdomain=subdomain) }}");
        }
    }
    function inIframe () {
    try {
        return window.self !== window.top;
    } catch (e) {
        return true;
    }
}
</script>
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="text-center">
            <a href="{{ url_for('main.index', subdomain=subdomain) }}">
                <img
                class="mb-4"
                src="{{ url_for('main.static_file', subdomain=subdomain, filename='pulsarnews.png')}}"
                style="width: 250px;"
                />
            </a>
            
            {% if not sso_credentials %}
            
            <!-- <h5 class="mb-3">Connect</h5> -->
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email(class="form-control form-control-lg", size=32, placeholder="Email") }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <button class="btn btn-primary btn-lg" type="submit">Next</button>
            </form>

            <a href="{{ url_for('auth.register', subdomain=subdomain) }}">No account yet ?</a><br>
            {% else %}
            <p>
                <br>
                <button class="btn btn-primary btn-lg" id="btnLogin" type="button" onclick="openWindow()" style="display: block;">Log with your company credentials</button>
            </p>
            {% endif %}
            
            {% for key in request.args %}
            Arg : {{ key }}<br>
            {% endfor %}
            
            
            
            
        </div>
    </div>
</div>

{% endblock %}
