{% extends "core.html" %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://statics.teams.microsoft.com/sdk/v1.7.0/js/MicrosoftTeams.js"></script>


<script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.15/js/adal.min.js" integrity="sha384-lIk8T3uMxKqXQVVfFbiw0K/Nq+kt1P3NtGt/pNexiDby2rKU6xnDY8p16gIwKqgI" crossorigin="anonymous"></script>
<script type="text/javascript">
    function openWindow() {
        let url = window.location.origin + "/auth/login_azure"
        if (window.microsoftTeams) {
            microsoftTeams.initialize();
            microsoftTeams.authentication.authenticate({
                url: url,
                width: 600,
                height: 535,
                successCallback: function (result) {
                    getUserProfile(result.accessToken);
                },
                failureCallback: function (reason) {
                    handleAuthError(reason);
                }
            });
        }
        else {
            window.open(url, "_blank", "width=" + 600 + ", height=" + 535);
        }
    }
</script>
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="text-center">
            <a href="{{ url_for('main.index', subdomain=subdomain) }}">
                <img
                class="mb-4"
                src="{{ url_for('static', filename='pulsarnews.png')}}"
                style="width: 250px;"
                />
            </a>
            <!-- <h5 class="mb-3">Connect</h5> -->
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email(class="form-control form-control-lg", size=32, placeholder="Email") }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <button class="btn btn-primary btn-lg" type="submit">Next</button>
            </form>
            <a href="{{ url_for('auth.register', subdomain=subdomain) }}">No account yet ?</a><br>
            <a href="{{ url_for('auth.login_azure', subdomain=subdomain) }}">Login with Azure</a><br>
            
            
            {% for arg in args %}
            <p>{{ arg  }}</p>
            {% endfor %}
            
            <div class="silent-auth-container">
                <div class="loading-block" style="display: none;">
                    <div class="message-title2">Loading...</div>
                    <div class="loader"></div>
                </div>
                <button class="ts-btn ts-btn-primary" id="btnLogin" type="button" onclick="openWindow()" style="display: block;">Log in</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
