{% if current_user.is_authenticated %}
{% extends "base.html" %}
{% else %}
{% extends "core.html" %}
{% endif %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 m-4">
        <h1 class="h1-index text-muted">{{ title }}</h1>
    </div>
    <div>
        <div class="mx-md-5">
{% else %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="text-center">
            <a href="{{ url_for('main.index', subdomain=subdomain) }}">
                <img
                class="mb-4"
                src="{{ url_for('main.static_file', subdomain=subdomain, filename='pulsarnews.png')}}"
                style="width: 250px;"
                />
            </a>
            <h1>Reset Your Password</h1>
{% endif %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-control form-control-lg",size=32, placeholder="New password") }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(class="form-control form-control-lg",size=32, placeholder="Retype password") }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <button class="btn btn-primary btn-lg" type="submit">Change password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}