{% extends "core.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="text-center">
            <a href="{{ url_for('main.index', subdomain=subdomain) }}">
                <img
                class="mb-4"
                src="{{ url_for('main.static_file', subdomain=subdomain, filename='pulsarnews.png')}}"
                style="width: 250px;"
                />
            </a>
            <h1>File Not Found</h1>
            <p><a href="{{ url_for('main.index', subdomain=subdomain) }}">Back</a></p>
        </div>
    </div>
</div>

{% endblock %}