{% extends "core.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="text-center">
            <a href="{{ url_for('main.index') }}">
                <img
                class="mb-4"
                src="{{ url_for('static', filename='pulsarnews.png')}}"
                style="width: 250px;"
                />
            </a>
            <h1>File Not Found</h1>
            <p><a href="{{ url_for('main.index') }}">Back</a></p>
        </div>
    </div>
</div>

{% endblock %}