{% extends "admin/base.html" %} 
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 m-4">
    <h1 class="h1-index text-muted">{{ title }}</h1>
</div>
<ol class="mx-2 px-0 mx-md-5 max-width-posts" start="{{ start_rank_num }}">
    <table class="table">
        <tbody>  
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Company ID</th>
                <th>Karma</th>
                <th>Verified</th>
                <th>Admin</th>
                <th>Banned</th>
                <th>Edit user</th>
            </tr>
            {% for user in users %} 
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.company_id }}</td>
                <td>{{ user.karma }}</td>
                <td>{{ user.verified }}</td>
                <td>{{ user.admin }}</td>
                <td>{{ user.banned }}</td>
                <td><a href="{{ url_for('admin.edit_user', subdomain=subdomain, user_id=user.id) }}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</ol>
{% if next_url %} <a href="{{ next_url }}"> More</a> {% endif %} 

{% endblock %}