<div class="row">
  <div class="mt-1 mb-md-1">
    {% for item in range(comment.level()) %} <div class="ms-4"> {% endfor %} 
      <ul class="list-comment list-inline shadow-sm ">
        <li>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div class="d-flex flex-row mt-2 text-black-50 date-time">
                <div class="post-info">
                  <a href="{{url_for('main.upvote_comment', subdomain=subdomain, comment_id=comment.id)}}" class="post-info-links">
                    <svg class="feather feather-color" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                      <!-- arrow-up -->
                      <line xmlns="http://www.w3.org/2000/svg" x1="12" y1="19" x2="12" y2="5"/><polyline xmlns="http://www.w3.org/2000/svg" points="5 12 12 5 19 12"/>
                    </svg>
                    
                    <span class="ml-2">{{ comment.score }} p<span class="d-none d-md-inline">oints</span></span>
                  </a>
                </div>
                <div class="post-info">
                  
                  <svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                    <!-- user -->
                    <path xmlns="http://www.w3.org/2000/svg" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="7" r="4"/>
                  </svg>
                  <span class="ml-2">{{ comment.author.username }}</span>
                  
                </div>
                <div class="post-info">
                  
                  <svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                    <!-- clock -->
                    <circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="12" r="10"/><polyline xmlns="http://www.w3.org/2000/svg" points="12 6 12 12 16 14"/>
                  </svg>
                  <span class="ml-2">{{ moment(comment.timestamp).fromNow() }}</span>
                  
                </div>
                <div class="post-info">
                  <a href="{{url_for('main.reply', subdomain=subdomain, comment_id=comment.id)}}" class="post-info-links">
                    <svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                      <!-- message-square -->
                      <path xmlns="http://www.w3.org/2000/svg" d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/>
                    </svg>
                    <span class="d-none d-md-inline">Reply</span></div>
                  </a>
                </div>
                
              </div>
              <div class="d-flex flex-row align-items-center">
                <div class="d-flex flex-column mr-2">
                  <div class="dropdown">
                    <button class="btn btn-sm " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                        <!-- more-vertical -->
                        <circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="12" r="1"/><circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="5" r="1"/><circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="19" r="1"/>
                      </svg>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      
                      <a class="dropdown-item" href="{{url_for('main.upvote_comment', subdomain=subdomain, comment_id=comment.id)}}">Upvote</a>
                      <a class="dropdown-item" href="{{url_for('main.reply', subdomain=subdomain, comment_id=comment.id)}}">Reply</a>
                      {%if current_user == comment.user_id or current_user.admin == 1 %}
                      <a class="dropdown-item" href="#">Edit</a>
                      <a class="dropdown-item" href="{{url_for('main.delete_comment', subdomain=subdomain, comment_id=comment.id)}}">Delete</a>
                      {% endif %}
                    </div>
                  </div>
                </div> 
              </div>
            </div>
            <div class="d-inline-block px-3 pt-2 pb-2 text-muted"><p>{% filter markdown %}{{ comment.text }}{% endfilter %}</p></div>  
          </li>
        </ul>
        {% for item in range(comment.level()) %} </div> {% endfor %} 
      </div>
    </div>
    
    