<table>
    <tbody>
        <tr>
        <td width="{{ comment.level() * 40}}" height="1"></td>
        <td valign="top">
            <div class="d-flex flex-row mt-1 post-info text-black-50 date-time">
                <a href="{{url_for('main.upvote_comment', comment_id=comment.id)}}" class="post-info-links">
                  <svg class="feather">
                    <use xlink:href="{{ url_for('static', filename='feather-sprite.svg') }}#arrow-up"/>
                  </svg>
                  <span class="ml-2">{{ comment.score }} Vote</span>
                </a>
              </div>
        </td>
        <td>
            <div class="d-flex flex-row mt-1 text-black-50 date-time">
            <div class="post-info">
      
                <svg class="feather">
                  <use xlink:href="{{ url_for('static', filename='feather-sprite.svg') }}#user"/>
                </svg>
                <span class="ml-2">{{ comment.author.username }}</span>
              
            </div>
            <div class="post-info">
              
                <svg class="feather">
                  <use xlink:href="{{ url_for('static', filename='feather-sprite.svg') }}#clock"/>
                </svg>
                <span class="ml-2">{{ moment(comment.timestamp).fromNow() }}</span>
             
            </div>
        </div>
            <div>
                    
                    {% filter markdown %}{{ comment.text }}{% endfilter %}
                    
            <div class="d-flex flex-row mt-1 post-info text-black-50 date-time">
                <p><a href="{{url_for('main.reply', comment_id=comment.id)}}"><u>Reply</u></a> - 
                {%if current_user == comment.author %}
                <a href="{{url_for('main.delete_comment', comment_id=comment.id)}}">Delete</a>
                {% endif %}
                </p>
                
            </div>
            </div>
        </td>
        </tr>
    </tbody>
</table>

