<div class="row margin-row">
  <div class="mt-4 mb-md-1">
    <ul class="list list-inline ">
      <li class="shadow-sm d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <div class="ml-2">
            
            <a class="post-title" href="{{ post.url }}"><b>{{ post.title }}</b></a><span class="post-via-title">(via {{ post.url_base }})</span>
            {% if post.text %}
            <div class="px-3 pt-2 pb-2 text-muted">{{ post.text }}</div>
            {% endif %}
            <div class="d-flex flex-row mt-2 text-black-50 date-time">
              <div class="post-info">
                <a href="{{ url_for('main.upvote', subdomain=subdomain, post_id=post.id)}}" class="post-info-links">
                  {% if post.is_voted %}
                  <svg class="feather feather-color-active" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                    <!-- arrow-up -->
                    <line xmlns="http://www.w3.org/2000/svg" x1="12" y1="19" x2="12" y2="5"/><polyline xmlns="http://www.w3.org/2000/svg" points="5 12 12 5 19 12"/>
                  </svg>
                  {% else %}
                  <svg class="feather feather-color" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                    <!-- arrow-up -->
                    <line xmlns="http://www.w3.org/2000/svg" x1="12" y1="19" x2="12" y2="5"/><polyline xmlns="http://www.w3.org/2000/svg" points="5 12 12 5 19 12"/>
                  </svg>
                  {% endif %}
                  
                  <span class="ml-2">{{ post.score }} p<span class="d-none d-md-inline">oints</span></span>
                </a>
              </div>
              <div class="post-info">
                
                <svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                  <!-- user -->
                  <path xmlns="http://www.w3.org/2000/svg" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="7" r="4"/>
                </svg>
                <span class="ml-2">{{ post.author.username }}</span>
                
              </div>
              <div class="post-info">
                
                <svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                  <!-- clock -->
                  <circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="12" r="10"/><polyline xmlns="http://www.w3.org/2000/svg" points="12 6 12 12 16 14"/>
                </svg>
                <span class="ml-2">{{ moment(post.timestamp).fromNow() }}</span>
                
              </div>
              <div class="post-info">
                <a href="{{ url_for('main.post_page', subdomain=subdomain, post_id=post.id)}}" class="post-info-links">
                  <svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <!-- message-square -->
                    <path xmlns="http://www.w3.org/2000/svg" d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/>
                  </svg>
                  <span class="ml-2">{{ post.total_comments() }}</span><span class="d-none d-md-inline"> comments</span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="d-flex flex-column mr-2">
              <div class="dropdown">
                <button class="btn btn-sm " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg class="feather">
                    <!-- more-vertical -->
                    <circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="12" r="1"/><circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="5" r="1"/><circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="19" r="1"/>
                  </svg>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% if post.is_voted %}
                  <a class="dropdown-item" href="{{ url_for('main.upvote', subdomain=subdomain, post_id=post.id)}}">Cancel vote</a>
                  {% else %}
                  <a class="dropdown-item" href="{{ url_for('main.upvote', subdomain=subdomain, post_id=post.id)}}">Upvote</a>
                  {% endif %}
                  <a class="dropdown-item" href="{{ url_for('main.post_page', subdomain=subdomain, post_id=post.id)}}">Comments</a>
                  {%if current_user == post.author or current_user.admin == 1 %}
                  <a class="dropdown-item" href="{{ url_for('main.edit_post', subdomain=subdomain, post_id=post.id)}}">Edit</a>
                  <a class="dropdown-item" href="{{ url_for('main.delete_post', subdomain=subdomain, post_id=post.id)}}">Delete</a>
                  {% endif %}
                </div>
              </div>
            </div> 
          </div>
        </li> 
      </ul>
    </div>
  </div>
  