<div class="row margin-row">
  <div class="mt-4 mb-md-1">
    <ul class="list list-inline ">
      <li class="shadow-sm d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <div class="ml-2">
            
            <a class="post-title" href="{{ post.url }}"><b>{{ post.title }}</b></a><span class="post-via-title">(via {{ post.url_base }})</span>
            {% if post.text %}
            <div class="px-3 pt-2 pb-2 text-muted">{{ post.text }}</div>
            {% endif %}
            <div class="d-flex flex-row mt-2 text-black-50 date-time">
              <div class="post-info">
                <a href="{{ url_for('main.upvote', post_id=post.id)}}" class="post-info-links">
                  {% if post.is_voted %}
                  <svg class="feather feather-color-active">
                    <use xlink:href="{{ url_for('static', filename='feather-sprite.svg') }}#arrow-up"/>
                  </svg>
                  {% else %}
                  <svg class="feather feather-color">
                    <use xlink:href="{{ url_for('static', filename='feather-sprite.svg') }}#arrow-up"/>
                  </svg>
                  {% endif %}
                
                  <span class="ml-2">{{ post.score }} p<span class="d-none d-md-inline">oints</span></span>
                  </a>
              </div>
              <div class="post-info">
                
                  <svg class="feather">
                    <use xlink:href="{{ url_for('static', filename='feather-sprite.svg') }}#user"/>
                  </svg>
                  <span class="ml-2">{{ post.author.username }}</span>
                
              </div>
              <div class="post-info">
                
                  <svg class="feather">
                    <use xlink:href="{{ url_for('static', filename='feather-sprite.svg') }}#clock"/>
                  </svg>
                  <span class="ml-2">{{ moment(post.timestamp).fromNow() }}</span>
               
              </div>
              <div class="post-info">
                <a href="{{ url_for('main.post_page', post_id=post.id)}}" class="post-info-links">
                  <svg class="feather">
                    <use xlink:href="{{ url_for('static', filename='feather-sprite.svg') }}#message-square"/>
                  </svg>
                  <span class="ml-2">{{ post.total_comments() }}</span><span class="d-none d-md-inline"> comments</span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="d-flex flex-column mr-2">
              <div class="dropdown">
                <button class="btn btn-sm " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg class="feather">
                    <use xlink:href="{{ url_for('static', filename='feather-sprite.svg') }}#more-vertical"/>
                  </svg>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% if post.is_voted %}
                  <a class="dropdown-item" href="{{ url_for('main.upvote', post_id=post.id)}}">Cancel vote</a>
                  {% else %}
                  <a class="dropdown-item" href="{{ url_for('main.upvote', post_id=post.id)}}">Upvote</a>
                  {% endif %}
                  <a class="dropdown-item" href="{{ url_for('main.post_page', post_id=post.id)}}">Comments</a>
                  {%if current_user == post.author or current_user.admin == 1 %}
                  <a class="dropdown-item" href="{{ url_for('main.edit_post', post_id=post.id)}}">Edit</a>
                  <a class="dropdown-item" href="{{ url_for('main.delete_post', post_id=post.id)}}">Delete</a>
                  {% endif %}
                </div>
              </div>
            </div> 
          </div>
        </li> 
      </ul>
    </div>
  </div>
  