<html>
<head>
    <script src='https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js'></script>
</head>
<body>
    <button onclick="(document.getElementById('icon').src = '{{ url_for("static", filename="pulsarnews.png")}}'); colorClickGray()">Select Gray</button>
    <img id="icon" src="{{ url_for('static', filename='pulsarnews.png')}}" alt="icon" style="width:100px" />
    <button onclick="(document.getElementById('icon').src = '{{ url_for('static', filename='pulsarnews.png')}}'); colorClickRed()">Select Red</button>
    
    <script>
        microsoftTeams.initialize();
        microsoftTeams.settings.setValidityState(true);
        microsoftTeams.settings.registerOnSaveHandler((saveEvent) => {
                microsoftTeams.settings.setSettings({
                    contentUrl: "https://www.pulsarnews.io?name={loginHint}&tenant={tid}&group={groupId}&theme={theme}",
                    suggestedDisplayName: "Pulsarnews"
                });
                saveEvent.notifySuccess();
            });
        
    
    </script>
    {% block content %}
    <a href="{{url_for(main_route+'.config', subdomain=subdomain)}}">Link to privacy</a>
    {% endblock %}
</body>
</html>