{% extends "base.html" %} 
{% block content %}
<div class="d-flex">
  <div class="col-6">
    <div class="dropdown mb-0">
      <button class="btn-index dropdown-toggle" type="button" id="dropdownMenuButtonTitle" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="h1-index text-muted">{{ title }}</span>
      </button>
      <ul class="dropdown-menu pt-0 mt-0 px-2" style="border:0; background-color: inherit;" aria-labelledby="dropdownMenuButtonTitle">
        {% if title != 'Trending' %}
        <li><a class="dropdown-item" href="{{ url_for('main.index', subdomain=subdomain) }}"><span class="h1-subtitle text-muted">Trending</span></a></li>
        {% else %}
        <li><a class="dropdown-item" href="{{ url_for('main.new', subdomain=subdomain) }}"><span class="h1-subtitle text-muted">Newest</span></a></li>
        {% endif %}
      </ul>
    </div>
    
  </div>
  <div class="col-6">
    <a class="d-flex justify-content-end" href="{{ url_for('main.submit', subdomain=subdomain) }}">
      <svg class="feather-submit mx-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
        <circle cx="12" cy="12" r="10"></circle><line class="feather-submit-plus" x1="12" y1="8" x2="12" y2="16"></line><line class="feather-submit-plus" x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
    </a>
  </div>
</div>
<ol class="mt-4" start="{{ start_rank_num }}">
  {% for post in posts %} {% include '_post.html' %} {% endfor %}
</ol>
{% if next_url %} <a href="{{ next_url }}"> More</a> {% endif %} 

{% endblock %}
