{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 m-4">
        <h1 class="h1-index text-muted">{{ title }}</h1>
    </div>
    <div class="mx-md-5">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                
                
                {{ form.email(class="form-control form-control-lg", size=30, placeholder="colleague@mycompany.com") }}
                <br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            
            <button class="btn btn-primary btn-lg" type="submit">Send invitation</button>
        </form>
    </div>
</div>

{% endblock %}
