{% extends "base.html" %} {% block content %} 

{% include '_post.html' %} 

{% if not post.url %}
<div class="row margin-row">
  <div class="mt-3">
    <ul class="list list-inline">
      <li class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <div class="ml-2">
            <span class="post-title">{{ post.text }}</span>
          </div>
        </li> 
      </ul>
    </div>
  </div>
  
{% endif %}
<br />

<form action="" method="post">
  {{ form.hidden_tag() }}

    {{ form.text.label }}<br />
    {{ form.text(class="form-control form-control-md ", cols=50, rows=4, maxlength=1000) }}
    <div id="textarea_feedback" class="d-flex flex-row mt-1 text-black-50 date-time"></div>
    {% for error in form.text.errors %}
    <span style="color: red;">[{{ error }}]</span> {% endfor %}
  <button class="btn btn-primary btn-lg" style="margin-top:3px;" type="submit">Submit</button>
  
</form>

<br />

{% for comment in comments %} {% include '_comment.html' %} {% endfor %} {%
endblock %}
