{% extends "base.html" %} {% block content %} 

{% include '_post.html' %} 

<br />

<form action="" method="post">
  {{ form.hidden_tag() }}
  
  {{ form.text.label }}<br />
  {{ form.text(class="form-control form-control-md ", cols=50, rows=4, maxlength=1000) }}
  <div id="textarea_feedback" class="d-flex flex-row mt-1 text-black-50 date-time"></div>
  {% for error in form.text.errors %}
  <span style="color: red;">[{{ error }}]</span> {% endfor %}
  <button class="btn btn-primary btn-lg" style="margin-top:3px;" type="submit">Submit</button>
  
</form>

<br>
<h4 class="mt-3 text-muted">All comments ({{ post.total_comments() }})</h4>
{% for comment in comments %} {% include '_comment.html' %} {% endfor %} {%
  endblock %}
  