{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 m-4">
        <h1 class="h1-index text-muted">{{ title }}</h1>
    </div>
    <div class="mx-md-5">
        <form action="" method="post" >
            {{ form.hidden_tag() }}
            {{ form.url(class="form-control", size=30, placeholder="URL") }}<br>
            {% for error in form.url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <div class=" submit-post-frame">
           
                
                {{ form.title(class="custom-form", size=30, placeholder="Title of the article") }}<br>
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
           
                {{ form.text(class="custom-form-textarea", size=50, placeholder="Description and what's the impact for your company", rows=4) }}
                {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
           
        </div>
                <div id="textarea_feedback" class="d-flex flex-row mt-1 text-black-50 date-time"></div>
                
            
            
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}