{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 m-4">
        <h1 class="h1-index text-muted">{{ title }}</h1>
    </div>
    <div class="mx-md-5">
        <form action="" method="post" >
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label(class="form-label") }}<span class="text-danger">*</span><br>
                {{ form.title(class="form-control form-control-lg", size=30, placeholder="Title of the article") }}<br>
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.url.label }}<span class="text-danger">*</span><br>
                {{ form.url(class="form-control form-control-lg", size=30, placeholder="https://www.thewebsite.com/mynews") }}<br>
                {% for error in form.url.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.text.label }}<br>
                {{ form.text(class="form-control form-control-lg", size=50, placeholder="Description and what's the impact for your company", rows=4) }}
                <div id="textarea_feedback" class="d-flex flex-row mt-1 text-black-50 date-time"></div>
                {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}