{% extends "base.html" %}

{% block content %}
<div class="col-md-7 col-lg-8">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 m-4">
        <h1 class="h1-index text-muted">{{ title }}</h1>
    </div>
    <div class="mx-md-5">
        <table class="table">
            <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{{ moment(user.timestamp).format('LL') }}</td>
                </tr>
                <tr>
                    <td>Karma</td>
                    <td>{{ user.karma}}</td>
                </tr>
                <tr>
                    <td>About</td>
                    <td>{{ user.about_me}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email}}</td>
                </tr>
                
            </tbody>
        </table>
        <a class="btn btn-primary btn-lg" type="button" href="{{ url_for('main.edit_profile', subdomain=subdomain) }}">Edit</a>
    </div>
</div>
{% endblock %}



